Package: luci-theme-peditxosui
Version: 1.0.0-01
Depends: luci-base
Source: https://github.com/PeDitXOS/luci-theme-PeDitXOSui
License: Apache-2.0
LicenseFiles: LICENSE
Section: luci
Architecture: all
Installed-Size: 9408
Maintainer: PeDitX <t.me/peditx>
URL: https://github.com/PeDitXOS/luci-theme-PeDitXOSui
Description: LuCI Theme For OpenWrt - PeDitXOSui
 Modern HTML5 dashboard UI with dark/light mode, glassmorphism design,
 WiFi & LAN device detection, static DHCP lease, and responsive layout.
